pubmed-verification-ryans-copy.aux
pubmed-verification-ryans-copy.blg
pubmed-verification-ryans-copy.log
pubmed-verification.aux              
pubmed-verification-ryans-copy.pdf
pubmed-verification-jettes-copy.aux

pubmed-verification-jettes-copy.aux
sig-alternate-05-2015.cls
pubmed-verification-jettes-copy.blg
sig-alternate-sample.aux
pubmed-verification-jettes-copy.log
sig-alternate-sample.log
